td{
	text-align: center;
}
table{
     border-collapse: collapse;
     width : 70%;
     margin-left:50px;
}
div{
	text-align:left;
     margin-right:10px; 
     margin-top: 200px;   
}
.lunch-break{
width: 50px;
}
.gap{
     width: 10px;
}
.color{
     background-color: lightgreen;
}
span{
     text-decoration: underline;
}
<<<<<<< HEAD



=======
>>>>>>> 0a5dbf7dfef14c0f793362d0ff1a3c49d327a50f
