*{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    width: 100%;
    min-width: 100vh;
    margin-top: 350px;
}
.flex-column-center {
    /* background-color: red; */
    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    color: rgb(77, 75, 75);
}
.Btn{
    text-decoration: none;
    padding: 5px 15px;
    border: solid 2px rgb(39, 82, 223);;
    border-radius: 4px;
    border-bottom: 5px;
    background-color: rgb(39, 82, 223);
    color: white;
    font-family: sans-serif;
}

.Btn1{
    text-decoration: none;
    padding: 5px 15px;
    border: solid 2px whitesmoke;
    border-radius: 4px;
    border-bottom: 5px;
    background-color:whitesmoke;
    color: black;
    font-family: sans-serif;

}
.buttons{
    /*margin-left: 450px; */
    display: flex;
align-items: center;
justify-content: center;
}